---
layout: default
title: AGM
---

<!-- Link to Voting -->

<!-- To be at noon, 3rd April
<div class="col-12 col-md-6 mb-4 ml-auto mr-auto">
  <a href="{{ site.baseurl }}/agm_voting" class="nodecor" target="_blank">
    <div class="announcement clickable clickable-sm shadow-btn" style="background-color: #eee; border: 2px solid #3da08c;">
      <img src="{{ site.baseurl }}/assets/img/hoppers-cover-transparent.png">
      <h5 style="color: #3da08c;">Click here to vote now!</h5>
    </div>
  </a>
</div>
-->

<p>The role descriptions can be found on our facebook: <a href="https://www.facebook.com/events/2658506030945911/" target="_blank">AGM Online</a>.</p>

{%- for member in site.data.agm20 -%}
  <h3>{{ member.role }}</h3>
  <div class="d-flex row justify-content-around align-items-center">
    {% if member.nominees != "" %}
      {%- for person in member.nominees -%}
      <div class="col-8 col-sm-5 col-lg-3 mb-4">
        {% if person.manifestName != "" %}
        <a href="{{ site.baseurl }}/assets/pdf/agm20/{{ person.manifestName }}" class="nodecor" target="_blank">
        {% endif %}
          <div class="announcement clickable clickable-sm shadow-btn">
            <img src="{{ site.baseurl }}/assets/img/events/AGM20-nominations/{{ person.pictureLink }}">
            <h5>{{ person.name }}</h5>
          </div>
        {% if person.manifestName != "" %}
        </a>
        {% endif %}
      </div>
      {%- endfor -%}
    {% else %}
      <div class="col-12">
        <p>There is no one running for {{ member.role }}, so there will be additional time to apply! For more information see our <a href="https://www.facebook.com/edinburghhopppers/?ref=bookmarks" target="_blank">facebook page</a>.</p>
      </div>
    {% endif %}
  </div>
{%- endfor -%}
