---
layout: default
title: AGM 2021
data: trial_egm
---

<div class = "EGM">
    {% for position in site.data[page.data] %}
        <div id = "section">
            <h3>{{ position.title }}</h3>
            <div id = "card-group">
                {% for candidate in position.candidates %}
                    <div class="card border-secondary candidates">
                        <img class="card-img-top" src="{{ candidate.img }}" alt="Card image cap"> 
                        <div class="card-body">
                            <h5 class = "card-title">{{ candidate.name }}</h5>
                            {% if candidate.roles %}<h6 class = "card.subtitle">Running for: <span style = "color: #666">{{ candidate.roles }}</span></h6> {% endif %}
                            <!-- {% if candidate.manifesto %}<h4><a href = "{{ candidate.manifesto }}" target="_blank">Manifesto</a></h4>{%endif%} -->
                        </div>
                        <div class="card-footer">
                            {% if candidate.manifesto %}
                                <medium><a href = "{{ candidate.manifesto }}" target="_blank">Manifesto</a></medium>
                            {% else %}
                                <small>Reopen Nomination</small>
                            {%endif%}
                        </div>  
                    </div>
                {% endfor %}
            </div> <!-- end of card group -->
        </div>
    {% endfor %}





<!-- voting section -->

    <a class="typeform-share button clickable mt-4" href="https://form.typeform.com/to/UifKXYPk?typeform-medium=embed-snippet" data-mode="drawer_right" 
    style="display:inline-block;
    text-decoration:none;
    background-color:#3da08c;
    color:white;
    cursor:pointer;
    font-family:Helvetica,Arial,sans-serif;
    font-size:20px;
    text-align:center;
    height:50px;
    padding:0px 33px;
    border-radius:25px;
    max-width:20%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-weight:bold;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;" target="_blank">Vote now </a>
    <script> 
        (function() { 
            var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; 
            if(!gi.call(d,id)){ 
                js=ce.call(d,"script"); 
                js.id=id; 
                js.src=b+"embed.js"; 
                q=gt.call(d,"script")[0]; 
                q.parentNode.insertBefore(js,q) 
                } })
                () 
    </script>


</div>
