---
layout: default
---

<!-- To include events from facebook -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v6.0"></script>

<!-- Special Announcement Template -->

<!--
add EVENT-TITLE and BANNER image
<div class="col-12 mb-4">
  <a href="{{ site.baseurl }}/EVENT-TITLE" class="nodecor" target="_blank">
    <div class="announcement clickable clickable-sm shadow-btn">
      <img src="{{ site.baseurl }}/assets/img/events/BANNER.png">
      <h5>Click here for more information!</h5>
    </div>
  </a>
</div>
-->


<!-- INTRODUCTION -->
<div class="row mb-4">
  <div class="col-12">
    <div class="row">
      <div class="col-md-6 col-lg-12 mb-4 event-categories-wrapper">
        <div class="row event-categories">
          <div class="col-12 col-lg-4 button-div">
            <a class="button" href="#bigEvents">Big Events</a>
          </div>
          <div class="col-12 col-lg-4 button-div">
            <a class="button" href="#techEvents">Tech Events</a>
          </div>
          <div class="col-12 col-lg-4 button-div">
            <a class="button" href="#socialEvents">Social Events</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-12">
        <p>Over the year we organise many different events. Every semester, there is a Big Event.
         On a monthly basis, we host Tech Events like workshops and talks, and Social ones like movie
         nights or a mini golf get-together.</p>
      </div>
    </div>
  </div>
</div>

<div class="row center-content mb-4">
  <div class="col-11 col-md-7 col-lg-5 col-xl-4 announcement">
    <div class="fb-page mt-3 mb-3" data-href="https://www.facebook.com/edinburghhopppers/" data-tabs="events" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
      <blockquote cite="https://www.facebook.com/edinburghhopppers/" class="fb-xfbml-parse-ignore">
        <a href="https://www.facebook.com/edinburghhopppers/">Edinburgh University Hoppers</a>
      </blockquote>
    </div>
  </div>
</div>

<!-- EVENT CATEGORIES -->

<div class="row event-cards">

  {% for member in site.data.event-categories %}

  <div class="col-12 col-lg-4 my-4 my-lg-0" id="{{ member.link }}">
    <div class="card subcard">
      <div class="card-img-top img-center-vert w-100">
        <img src="{{ site.baseurl }}/assets/img/{{ member.img }}" class="w-100"
             alt="{{ member.name }}">
      </div>

      <div class="card-body">
        <h3 class="card-title text-center">{{ member.name }}</h3>
        <p class="card-text px-3 mb-2 text-center">{% include {{ member.includeFrom }} %}</p>
      </div>
    </div>
  </div>

  {% endfor %}

</div>
