---
layout: default
link: "https://calendar.google.com/calendar/u/1?cid=MmE5MGwxOXZvdW9yOWtucTJzczg2ZzZtdTBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ"
---

<!-- To include events from facebook -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.5"></script>

<!-- Special Announcement Template -->

<!--
add EVENT-TITLE and BANNER image
<div class="col-12 mb-4">
  <a href="{{ site.baseurl }}/EVENT-TITLE" class="nodecor" target="_blank">
    <div class="announcement clickable shadow">
      <img src="{{ site.baseurl }}/assets/img/events/BANNER.png">
      <h5>Click here for more information!</h5>
    </div>
  </a>
</div>
-->

<!-- ALD20 announcement -->
<!-- <div class="col-12 mb-4">
  <a href="{{ site.baseurl }}/ald20" class="nodecor" target="_blank">
    <div class="announcement clickable shadow" style="max-width: 400px; margin: 0 auto;">
      <img src="{{ site.baseurl }}/assets/img/events/ald20/logo.svg" style="width: 200px;">
      <h5>Click here for more information!</h5>
    </div>
  </a>
</div> -->


<!-- INTRODUCTION -->
    <div class="row flex-box align-items-center justify-content-center">
      <div class="col-md-10 col-lg-12 text-center">
        <p>Our events vary quite a bit. They can be educational, discussion of controversial topics, 
          a relaxing and fun time, or sometimes all three! They broadly fall under three categories - tech,
          social and big events. 
        </p>
      </div>
  </div>


<!-- EVENT CATEGORIES -->

<div class="row event-cards">

  {% for member in site.data.event-categories %}

  <div class="col-12 col-lg-4 my-4 my-lg-0" id="{{ member.link }}">
    <div class="card subcard">
      <div class="card-img-top">
        <img src="{{ site.baseurl }}/assets/img/{{ member.img }}" class="w-100"
             alt="{{ member.name }}">
      </div>

      <div class="card-body">
        <h3 class="card-title text-center">{{ member.name }}</h3>
        <p class="card-text px-3 mb-2 text-center">{% include {{ member.includeFrom }} %}</p>
      </div>
    </div>
  </div>

  {% endfor %}

</div>
<hr>
<div class = "row justify-content-center m-4">
  You can find our latest events on our Facebook page. We record some of our events and post them on our 
  YouTube channel - do check it out! 
</div>
<div class="row justify-content-center m-4">
  <!-- <div class="col-11 col-md-7 col-lg-5 col-xl-4 announcement"> -->
    <div class="fb-page m-3" data-href="https://www.facebook.com/edinburghhopppers/" data-tabs="events" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
      <blockquote cite="https://www.facebook.com/edinburghhopppers/" class="fb-xfbml-parse-ignore">
        <a href="https://www.facebook.com/edinburghhopppers/">Edinburgh University Hoppers</a>
      </blockquote>
    </div>
  <!-- </div> -->
  <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLu_i2Y_J-1uu1bXmwP112D8otmU0lOFqb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<hr>
<div class = "container">
  <div class = "mt-5 text-center">
    <h4 style = "color:#333">Can't keep up with our events?</h4>
    <p>We have now released our public events Google calendar. This can be added to your own Google calendar to ensure that you receive live updates as and when we publish new events.</p>
    <a class = "col-12 col-md-5 col-lg-4 button clickable" target = "_blank" href = {{ page.link }}>Add Hoppers calendar</a>
  </div>
    
  
  
</div>
