<div>
    <img class = "mx-auto mb-3 col-12 col-md-6 col-lg-4" style="float:left;" src = "{{ site.baseurl }}/assets/img/events/ald20/ada_lovelace.jpg">
    <p class = "text-justify" style = 'fluid: left;'>Ada Lovelace was an English mathematician. She is known as the first computer programmer ever.
        Having worked on the prototype computer created by Charles Babbage, she realized the potential 
        of a computer beyond being a purely analytical machine. More sample text.
    </p>
</div>
