<div>
    <img class = "mx-auto mb-3 col-12 col-md-6 col-lg-4" style="float:left;" src = "{{ site.baseurl }}/assets/img/events/ald20/ada_lovelace.jpg">
    <p class = "text-justify" style = 'fluid: left;'>Ada Lovelace was a mathematician of the 19th century and is widely seen as the world’s first programmer. Through mathematics she met Charles Babbage and when he started working on the Analytical Engine in 1837 she realised to what extent it could be used. While he thought of it as a simple calculating machine, she saw what we would today call a computer. She wrote:<br><br>

	“The Analytical Engine has no pretensions whatever to originate anything. It can do whatever we know how to order it to perform.”<br><br>

	Writing her thoughts about this engine down she wrote the first computer program!
    Ada Lovelace is a patriot for women in STEM and we are celebrating her day to celebrate the achievements of gender minorities in Informatics. <br><br>
    </p>
</div>
