<div>
    <div class="pet-div row align-items-center">
        <div class="pet-des col-12 col-md-4">
            <h4>Keynote Address by Wendy Grossman</h4>
        </div>
        <div class="videoWrapper col-12 col-md-8" style="--aspect-ratio: 1/2.5;">
            <iframe src="https://drive.google.com/file/d/19ovud8ve5NX1sDE-a67cug3RO-9FhmZG/preview" width="800" height="480"></iframe>
        </div>
    </div>
    <div class="pet-div row align-items-center">
        <div class="pet-des col-12 col-md-4">
            <h4>Tell us about your job panel discussion - Aditi Chalisgaonkar, Alex Lascarides, Elitsa Bankova, Lucy Havens and Sneha Shekar</h4>
        </div>
        <div class="videoWrapper col-12 col-md-8" style="--aspect-ratio: 1/2.5;">
            <iframe src="https://drive.google.com/file/d/1m4-1qM_jRiJ7D0keVYUfxaOLA0n-0waI/preview" width="640" height="480"></iframe>
        </div>
    </div>
</div>
