<div>
    <div class="pet-div row align-items-center">
        <div class="pet-des col-12 col-md-4">
            <h4>Introduction to Web Apps by HubSpot</h4>
        </div>
        <div class="videoWrapper col-12 col-md-8" style="--aspect-ratio: 1/2.5;">
            <iframe src="https://drive.google.com/file/d/1Ino13JZeHWwAV6WxEOgbEngU3yWRKyYs/preview" width="640" height="480"></iframe>
        </div>
    </div>
    <div class="pet-div row align-items-center">
        <div class="pet-des col-12 col-md-4">
            <h4>UI/UX workshop by Aditi Chalisgaonkar</h4>
        </div>
        <div class="videoWrapper col-12 col-md-8" style="--aspect-ratio: 1/2.5;">
            <iframe src="https://drive.google.com/file/d/1LNP8DrmlVz6MdlrwstqdTc2Dr31ZaODk/preview" width="640" height="480"></iframe>
        </div>
    </div>
</div>