<div>
    <div class="pet-div row align-items-center">
        <div class="pet-des col-12 col-md-4">
            <h4>Keynote Address - Jenny Brennan</h4>
            <h6>
                Additional resources: 
                <ul>
                    <li>All <a href = 'https://jennybrennan.com/hoppers/' target="_blank">resources</a> referenced in video</li>
                    <li>Jenny Brennan's <a href = 'https://jennybrennan.com/about'>website</a></li>
                </ul>
            </h6>
        </div>
        <div class="videoWrapper col-12 col-md-8" style="--aspect-ratio: 1/2.5;">
            <iframe width="560" height="315" src="https://www.youtube.com/Yf1blgo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        </div>
    </div>
    <div class="pet-div row align-items-center">
        <div class="pet-des col-12 col-md-4">
            <h4>Introduction to Web Apps by HubSpot</h4>
            <h6>Additional resources: 
                <ul>
                   <li><a href = 'https://github.com/zsobin/BaseWebApp'>Link</a> to the BaseWebApp repository.</li>
                   <li>All important installation links <a href = 'https://edinburgh-hoppers.github.io/website/ald20#schedule'>here.</a></li>
                </ul>
            </h6>
        </div>
        <div class="videoWrapper col-12 col-md-8" style="--aspect-ratio: 1/2.5;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/kJFRFSBaLvA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="pet-div row align-items-center">
        <div class="pet-des col-12 col-md-4">
            <h4>Spark Workshop - HUB Chiclayo Valley</h4>
        </div>
        <div class="videoWrapper col-12 col-md-8" style="--aspect-ratio: 1/2.5;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/hGyr73u_puI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="pet-div row align-items-center">
        <div class="pet-des col-12 col-md-4">
            <h4>Top tips for Freelancers - Edinburgh Innovations</h4>
        </div>
        <div class="videoWrapper col-12 col-md-8" style="--aspect-ratio: 1/2.5;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0YfWdA1blgo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        </div>
    </div>
    <div class="pet-div row align-items-center">
        <div class="pet-des col-12 col-md-4">
            <h4>UI/UX workshop by Aditi Chalisgaonkar</h4>
        </div>
        <div class="videoWrapper col-12 col-md-8" style="--aspect-ratio: 1/2.5;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/fXvVAHFJXA8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="pet-div row align-items-center">
        <div class="pet-des col-12 col-md-4">
            <h4>Life of a Digital Nomad - Elena Lape</h4>
        </div>
        <div class="videoWrapper col-12 col-md-8" style="--aspect-ratio: 1/2.5;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/iIh7lQDC0EQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>

