<div>
    <div class="pet-div row align-items-center">
        <div class="pet-des col-12 col-md-4">
            <h4>Keynote Address - Wendy Grossman</h4>
            <h6>Additional resources: 
                <ul>
                    <li>Wendy M. Grossman's <a href = 'https://www.pelicancrossing.net' target = '_blank'>website</a></li>
                    <li>Twitter: @wendyg </li>
                    <li><a href = 'https://www.pelicancrossing.net/netwars' target = '_blank'>net.wars</a> columns (Fridays) </li>
                    <li>net.wars column <a href = 'https://www.pelicancrossing.net/nwcols.htm' target = '_blank'>archive</a></li>
                    <li><a href = 'https://skepticalinquirer.org' target = '_blank'>Skeptical Inquirer</a></li>
                    <li><a href = 'https://www.skeptic.org.uk' target = '_blank'>The Skeptic</a>, Twitter handle: @theskepticmag</li>
                    <li><a href = 'https://skepticalinquirer.org/category/letter-to-america/' target = '_blank'>Letter to America: </a>Skeptical Inquirer</li>
                    <li><a href = ' https://www.absw.org.uk' target = '_blank'>Association </a>of British Science Writers</li>
                    <li><a href = 'https://www.youtube.com/watch?v=rzHEw7ph-kg' target = '_blank'>"An Introduction to Anomalistic Phenomena"</a>, by Chris French</li>
                </ul>
            </h6>

        </div>
        <div class="videoWrapper col-12 col-md-8" style="--aspect-ratio: 1/2.5;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/aZIcLP2x7z0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <div class="pet-div row align-items-center">
        <div class="pet-des col-12 col-md-4">
            <h4>TechSheCan Charter - Becky Hartley</h4>

        </div>
        <div class="videoWrapper col-12 col-md-8" style="--aspect-ratio: 1/2.5;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zqa3l9_5CTM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <div class="pet-div row align-items-center">
        <div class="pet-des col-12 col-md-4">
            <h4>Tell us about your job panel discussion</h4>
            <h6>Our panelists are:
                <ul>
                    <li>Aditi Chalisgaonkar</li>
                    <li>Alex Lascarides</li>
                    <li>Elitsa Bankova</li>
                    <li>Lucy Havens</li>
                    <li>Sneha Shekar</li>
                </ul>
            </h6>
        </div>
        <div class="videoWrapper col-12 col-md-8" style="--aspect-ratio: 1/2.5;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/qpTzO9AqFZI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>

