<div id = "etiquette">
    To ensure everything runs smoothly, we have a few guidelines that we expect our participants to follow during the individual sessions: 
    <ul>
        <li>Please keep your microphone muted if you are not actively participating in a session.</li>
        <li>If you want to ask a question during a session, please use the chat to do so. We have members from the committee who will be monitoring the chats for questions, which will be asked at the end of each session. Otherwise, please raise your hand (on Zoom), and when prompted, unmute yourself and turn on video (preferable). Our speakers would be more at ease if they could see you while you ask your question. The specific details of this will be given at the beginning of the session.</li>
        <li>If a workshop requires some preparation beforehand, please do prepare and come. It will help run the workshops smoothly and efficiently.</li>
    </ul>
</div>