<div id = "etiquette">
    To ensure everything runs smoothly, we have a few rules that we expect our participants to follow during the individual sessions: 
    <ul>
        <li>Please keep your microphone muted if you are not actively participating in a session.</li>
        <li>If you do want to ask a question, please raise your hand (on Zoom), and when prompted, unmute yourself and turn on video (preferable). Our speakers would be more at ease if they could see you while you ask your question.</li>
    </ul>
</div>