<div id="reactWorkshop">
  <p>Hey there,</p>
  <p>We are really looking forward to meeting you for the Ada Lovelace Day event and workshop! We just wanted to reach out ahead of time to let you know a few things that you will need for our virtual workshop.</p>
  <p>We will need you to complete the tasks below before the workshop so that you are ready to go when we start:</p>

  <ol>
    <li>Create Heroku account (primary language = node) - <a href="https://signup.heroku.com/"
        target="_blank">Sign up here!</a></li>
    <li>Download and install heroku's command line tools - <a href="https://toolbelt.heroku.com/"
        target="_blank">Set them up  here!</a></li>
    <li>Create Github account - <a href="https://github.com/join" target="_blank">Sign up here!</a></li>
    <li>Download and install github's command line tools - <a href="https://help.github.com/articles/set-up-git/#setting-up-git"
        target="_blank">Set them up here!</a></li>
    <li>Download and install Node.js (latest LTS version of node js is 10.13.0 not the Latest LTS Version: v6.10.1)
        - <a href="https://nodejs.org/en/download/" target="_blank">Get Node.js here!</a></li>
    <li>Download and install a text editor (I recommend sublime text - <a href="https://www.sublimetext.com/3"
        target="_blank">Get Sublime Text here!</a>)</li>
  </ol>

  <p>It is really important for us that every tool is installed, so we can start the workshop on time, and help you build your web app! If you are having any trouble with the above tasks please reach out ahead of and we will be more than happy to assist you with getting set up.</p>
  <p>Thanks so much and we can't wait to meet everyone on the day!</p>
  <p>Looking forward to seeing you all virtually on the day! <br>
     Nadia, Sara, Yu-Jo & Steph<br>
     HubSpot<br>
     Dublin</p>
</div>
