<!-- ___

i USED THE MABBOX GL API - ALL coordinates based on WGS84 system
(easy tool to help convert coordinates) https://coordinates-converter.com/en/decimal/55.944128,-3.188406?karte=OpenStreetMap&zoom=8
___ -->

<div id="mapid" style = "height: 500px"></div>

<script>
    
    mapboxgl.accessToken = 'pk.eyJ1IjoiYXAwODA2IiwiYSI6ImNrZmdoMm5zMzBhejkycnMyc29nNXd1ZTkifQ.cvkg8PmP_9JeDqgUL_cHbQ';
    //public access token created on my account (Aparna Rajeev)
    var map = new mapboxgl.Map({
        container: 'mapid',
        style: 'mapbox://styles/mapbox/light-v10', // stylesheet location
        center: [10,27], // starting position [lng, lat]
        zoom: 1.7, // starting zoom
    });
    map.touchZoomRotate.enable(); //zooming in on touch screen devices
    map.scrollZoom.setWheelZoomRate(1/600);
    map.boxZoom.enable();
    var uoemarker = new mapboxgl.Marker({'marker-color' : '#444'})
        .setLngLat([-3.1872, 55.944])
        .addTo(map);
    
    var nitkmarker = new mapboxgl.Marker()
        .setLngLat([74.796, 13.0111])
        .addTo(map);
    
    var hubspotmarker = new mapboxgl.Marker()
        .setLngLat([-6.241221,53.348816])
        .addTo(map);
    
    var alimarker = new mapboxgl.Marker()
        .setLngLat([0.131396,51.518766])
        .addTo(map);

    var hchvmarker = new mapboxgl.Marker()
        .setLngLat([-79.840831, -6.766417])
        .addTo(map);

        
</script>

