<div id="schedule" onload="askForKey()">
<p style = "font-size: 1.25rem;"><b>Note:</b> all times listed are in BST.</p>
    <table class = "table table-bordered">
      	{%- for date in site.data[page.subpages][page.schedule] -%}
	        <th scope="col-lg-2" colspan=100> {{ date.date }} </td> <!-- Really high colspan to span over all columns -->

	        {%- for time in date.timeslots -%}
		        <tr>
		          	<td class="time" scope="row"> {{ time.time }} </td>

		          	{%- for event in time.events -%}

		            	<td colspan="{% if event.colspan %}{{ event.colspan }}{% else %} 1 {% endif%}" style="padding: 2vh">
		            		{%- if event.img -%}
		            			<img src="{{ '/assets/img/events/ald20/schedule/' | append: event.img | relative_url }}">
		            		{%- endif -%}


			            	<span class="eventName"> {{ event.name }} </span>

			            	{%- if event.description %}
			            		<br> {{ event.description }}
			            	{%- endif -%}

							{%- if event.linkToTheirPage -%}
								<br>
								<a href="{{ event.linkToTheirPage }} " target="_blank">Register here</a>
							{%- endif -%}

			                {%- if event.moreInformation and event.id -%}
				                <br>
				                <a href="javascript:document.getElementById('{{ event.id }}').style.display = 'block'; true;">
				                	more information
				                </a>

							    <div id="{{ event.id }}" class="popup">
								    <div class="popup-content card shadow-sm">
								    	<span class="closePopup" onclick="document.getElementById('{{ event.id }}').style.display='none';">&times;</span>
								    	<p>{{ event.moreInformation }}</p>
								    </div>

								    <!-- Close popup when clicking somewhere else -->
								    <script type="text/javascript">
								    	window.onclick = function(e) {
								    	  var popup = document.getElementById('{{ event.id }}');
										  if (event.target == popup) {
										    popup.style.display = "none";
										  }
										}
									</script>
								</div>
							{%- endif -%}
			                
			                {%- if event.link -%} 
			                  <br>
			                  <a class="eventLink" href='{{ event.link }}' target='_blank'>{% if event.platform %}Join us on {{ event.platform }}{% else %}Event link{% endif %}</a>
			                {%- endif -%}
							{% if event.link2 %}
							<br>
			                  <a class="eventLink" href='{{ event.link2 }}' target='_blank'>Submit your video for the pet parade here.</a>
							{% endif %}

							<!-- SPECIAL DESCRIPTION AREA FOR PANELISTS -->
							{%- if event.panel -%}
								{%- for each in event.speaker-info-%}
								<hr>
									<p>{{ each.info }} <br> <br></p>
								{%- endfor -%}
							{%- endif -%}
	              		</td>	       

		          	{%- endfor -%}
		        </tr>
	        {%- endfor -%}
      	{%- endfor -%}
    </table>
</div>
