<div id="schedule" onload="askForKey()">
    <table class = "table table-bordered" style = "table-layout:auto;">
      	{%- for date in site.data[page.schedule] -%}
	        <th scope="col-lg-2" colspan=100> {{ date.date }} </td> <!-- Really high colspan to span over all columns -->

	        {%- for time in date.timeslots -%}
		        <tr>
		          	<td class="time" scope="row"> {{ time.time }} </td>

		          	{%- for event in time.events -%}

		            	<td colspan="{% if event.colspan %}{{ event.colspan }}{% else %} 1 {% endif%}">
			            	<span class="eventName"> {{ event.name }} </span>

			            	{%- if event.description %}
			            		<br> {{ event.description }}
			            	{% endif %}

			                {%- if event.moreInformation and event.id -%}
				                <br>
				                <a href="javascript:document.getElementById('{{ event.id }}').style.display = 'block'; true;">
				                	more information
				                </a>

							    <div id="{{ event.id }}" class="popup">
								    <div class="popup-content card shadow-sm">
								    	<span class="closePopup" onclick="document.getElementById('{{ event.id }}').style.display='none';">&times;</span>
								    	<p>{{ event.moreInformation }}</p>
								    </div>

								    <!-- Close popup when clicking somewhere else -->
								    <script type="text/javascript">
								    	window.onclick = function(e) {
								    	  var popup = document.getElementById('{{ event.id }}');
										  if (event.target == popup) {
										    popup.style.display = "none";
										  }
										}
									</script>
								</div>
							{%- endif -%}
			                
			                {%- if event.link -%} 
			                  <br>
			                  <a class="eventLink" href='{{ event.link }}' target='_blank'>{% if event.platform %}Link to {{ event.platform }}{% else %}Event link{% endif %}</a>
			                {%- endif -%}
	              		</td>	       

		          	{%- endfor -%}
		        </tr>
	        {%- endfor -%}
      	{%- endfor -%}
    </table>
</div>

<script type="text/javascript">
	function askForKey() {
		var today = new Date();
		if (window.location.search != "?pwd=EdinburghAdaLovelace2020" && today.monthIndex == 9) {
			var input = prompt("To be able to see the links to attend the events, please enter the key you were given on registration. If you haven't registered yet, just enter nothing.", );
			if (input != "EdinburghAdaLovelaceHoppers2020") {
				changeVisibilityOfEventLinks("hidden");
			} else {
				changeVisibilityOfEventLinks("visible");
			}
		} else {
			changeVisibilityOfEventLinks("visible");
		}
	}

	function changeVisibilityOfEventLinks(v) {
		[].forEach.call(document.querySelectorAll('.eventLink'), function (el) {
				el.style.visibility = v;
		});
	}

	window.onload = askForKey;
</script>
