<div id="speakers" class="row" style = "scroll-margin-top: 200px;">

  {% assign speakers = site.data.ald20-speakers %}

  {%- for speaker in speakers -%}
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 column mb-5" style="height: 200px; text-align: center;">
      <img class="w-75 rounded-circle mb-2" src="
          {%- if speaker.img -%}
            {{ '/assets/img/events/ald20/speakers/' | append: speaker.img | relative_url }}
          {%- else -%}
           {{ '/assets/img/hoppers-logo.png' | relative_url }}
          {%- endif -%}">
      <h6 class="speaker-name">{{ speaker.name }}</h6>
      <h6 class="speaker-shortDescription">{{ speaker.shortDescription }}</h6>
    </div>
  {%- endfor -%}
</div>