<div class = 'thankyou'>
    <p>A big thank you to everyone who managed to join us on the 12th and 13th of October.
        For those who weren't able to make it - don't worry! We've recorded all the sessions
        for you to watch at your convenience. Some sessions have additional resources provided
        by our speakers which we've listed next to each video. If you prefer, you can also 
        watch the sessions on our <a href = 'https://www.youtube.com/channel/UC8kHxhiU2BHaKPQThGRtFfQ' target = '_blank'>YouTube channel</a>
         - but some videos may not be available there by request from our speakers.
    </p>
</div>