<div>
	<p>Hello and welcome! We are happy to have caught your interest and we are keen to celebrate our event with you all!</p>
	<p>The focus of the event will be web application, but for those of you interested in other areas we offer a lot of other amazing events that will help you grow your personal skills and allow you to meet inspiring individuals of the tech scene. See our schedule below for more information!</p>
	<p>For the first time in Hoppers’ history we will hold a 2-day event to accommodate all the great speakers we invited for you! Everything will be online, but don’t worry, there is still merch: we have prepared a great virtual Hoppers planner for you!</p>
	<p>Look around our webpage to find more information and we are looking forward to seeing you on the 12th and 13th of October!</p>
</div>
