<div id="challenges">
  <ol>
    <li>Name at least 5 different previous Hoppers' presidents.</li>
    <li>Is Karyopharm Therapeutics a customer of SmartSheet?</li>
    <li>Name any 2 events that FreeAgent is going to hold this year.</li>
    <li>Name any one book that the CEO of HubSpot has co-authored.</li>
    <li>SmartSheet has Software Development Kids (SDKs) providing
        a higher level interface for several languages. Name any 3
        of those languages.</li>
    <li>Name 2 partners of Hoppers Society.</li>
  </ol>
</div>
