<div>
  <div class="row justify-content-center align-items-center">
    <div class="col-12 col-md-4 col-lg-3 my-2">
      <a class="button clickable shadow-sm" href="https://forms.gle/xuAJFyKvVv1MkSnZ6" target="_blank">Poster Submission Form</a>
    </div>
    <div class="col-12 col-md-4 col-lg-3 my-2">
      <a class="button clickable shadow-sm" href="{{ '/assets/pdf/poster-guide.pdf' | relative_url }}" target="_blank">Poster Guide</a>
    </div>
  </div>

  {%- for member in site.data[page.posterCompetition] -%}
    <div>
      <h5>{{ member.subtitle }}</h5>
      <p>{{ member.text }}</h5>
    </div>
  {%- endfor -%}
</div>
