<div id="posterCompetition">
  <div class="row center-content align-items-center">
    <div class="col-12 col-md-4 col-lg-3 my-2 button-div">
      <!-- later: delete style attribute, add classes: clickable clickable-sm shadow-sm -->
      <a style="background-color: #aaa; pointer-events: none; cursor: default;" class="button" href="">Poster Submission Form - opening soon</a>
    </div>
    <div class="col-12 col-md-4 col-lg-3 my-2 button-div">
      <a class="button clickable clickable-sm shadow-sm" href="https://www.facebook.com/events/211561000005629/" target="_blank">facebook: Poster Making Workshop</a>
    </div>
  </div>

  {%- for member in site.data[page.posterCompetition] -%}
    <div>
      <h5>{{ member.subtitle }}</h5>
      <p>{{ member.text }}</h5>
    </div>
  {%- endfor -%}
</div>
