<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

{% if page.title == "Index" %}
  <title>Edinburgh Hoppers</title>
{% else %}
  <title>{{ page.title }} | Edinburgh Hoppers</title>
{% endif %}

<!-- ONLY FOR ALD MAP FEATURE -->

{% if page.title == "Ada Lovelace Day" %}
<script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />

{% endif %}
<!-- -------------------------- -->

<link rel="icon" href="{{ site.baseurl }}/assets/img/hoppers-logo-nav.png" type="image/png">

<!-- bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">


<!-- css -->
{%  if page.title != 'Ada Lovelace Day'%}
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" type="text/css">
{% endif %}