<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

{% if page.title == "Index" %}
  <title>Edinburgh Hoppers</title>
{% else %}
  <title>{{ page.title }} | Edinburgh Hoppers</title>
{% endif %}

<!-- ONLY FOR ALD MAP FEATURE -->

{% if page.title == "Ada Lovelace Day" %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
crossorigin=""></script>

{% endif %}
<!-- -------------------------- -->

<link rel="icon" href="{{ site.baseurl }}/assets/img/hoppers-logo-256.png" type="image/png">

<!-- bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">


<!-- css -->
{%  if page.title != 'Ada Lovelace Day'%}
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" type="text/css">
{% endif %}