
<!-- nav start -->
<nav id = "nav-cover" class="nav navbar nav-pills shadow-sm navbar-expand-sm sticky-top">

<!--  toggle buttons (only on small screens)  -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<!--  main navbar content  -->
  <div class="collapse navbar-collapse justify-content-center align-items-start text-center" id="navbar">

    <ul class="nav navbar-nav row" style="margin-right:10px;">
      <li class="navbar-brand mx-1 p-0 d-none d-sm-block">
        <a class="nav-link" href="{{ site.baseurl }}/{{ page.data }}" style="height: 0">
          <img src="{{ site.baseurl }}/assets/img/hoppers-logo-nav.png" width="100" class="navbar-logo rounded-circle clickable clickable-sm shadow-sm">
        </a>
      </li>
    </ul>

    <ul class="nav navbar-nav row">
      
      {% for item in site.data[page.subpages][page.navItems] %}
      <li class="nav-item rounded mx-1">
        <a class="nav-link" href="{{ item.href }}">{{ item.text }}</a>
      </li>
      {% endfor %}

    </ul>

  </div>
  <a href="{{ site.baseurl }}/" style="height: 0">
    <img src="{{ site.baseurl }}/assets/img/hoppers-logo-nav.png" width="96" class="navbar-logo-sm rounded-circle clickable clickable-sm shadow-sm d-sm-none m-0">
  </a>
</nav>


<!-- nav end -->
