<p>I am very proud of the record of the School of Informatics in supporting the careers of women and other gender
minorities. In 2013 we were only the second department of Computer Science in the UK to gain a Silver Award in the
national Athena SWAN scheme, which seeks to acknowledge good practice in supporting the careers of female staff and
students. This was renewed in 2016 and we are currently waiting to hear the outcome of another renewal application.
The work of Hoppers fostering a supportive and fun development environment has been key to all those applications.</p>

<p>As Karen Spärck Jones said, in her acceptance of the Lovelace Award in 2009, "Computing is too important to be
left to men"! I would say that it is also too important to be left to women. The key point is that we are stronger
when we work together and research has shown that diverse teams achieve better results. However, we should not
under-estimate the value of initiatives such as Hoppers that create a supportive environment that allow gender
minority members of the School to develop their skills, confidence and friendship so that they are ready to fully
participate in diverse teams.</p>
