--- 
--- 

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Raleway+Dot&family=Quantico&display=swap');

$pinkish:#DB5461;
$hoppers-green: #3da08c;
$powder-blue: #C7EBF0;
$hoppers-gray: #eee;
$nav-blue: #72A1E5;
$nav-red: #DB5461;
$nav-yellow:#FDCA40;
$nav-turquoise: #50C9CE;


body {
    margin: 0;
}

.cover {
    font-family: 'Quantico', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: linear-gradient($powder-blue, $hoppers-gray);
}


/*
Nav menu design - id: cover
*/

#cover {
    margin-top: 1rem;
    background-image: linear-gradient(to right, $nav-turquoise, $nav-yellow, $nav-red, $nav-blue);
}

.cover h4 {
    color: $pinkish;
    margin: 2rem 0 2rem;
}

.cover img {
    width: 50%;
    max-width: 700px;

    @media (min-width: 768px) {
      float: left;
    }
}

.cover-btn {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    letter-spacing: .5px;
    display: inline-block;
    line-height: 2.5rem;
    border: none;
    border-radius: 2px;
}

.cover-btn:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: #eee;
    text-decoration: none;
}

.cover {
    margin-top: 9rem;
    text-align: center;
}

.cover h1,
.cover h3,
.cover h4 {
    font-size: 2em;
    font-weight: 500;
    &:hover {
        font-weight: 600;
    }
}

.cover h1 {
    cursor: pointer;
    font-size: 3.5em;
}

.card-title {
    font-family: 'Inconsolatas', monospace;
    color: #50C9CE;
}
