--- 
--- 

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Roboto:wght@300&family=Quantico&display=swap');

$pinkish:#DB5461;
$hoppers-green: #3da08c;
$powder-blue: #C7EBF0;
$hoppers-gray: #eee;
$nav-blue: #72A1E5;
$nav-red: #DB5461;
$nav-yellow:#FDCA40;
$nav-turquoise: #50C9CE;
$salmon: rgb(247, 160, 114);
$gold-crayola: #EDC79B;
$dark-grey: #4A5859;
$dark-purple: #2C1320;
$stone: #A7ADC6;
$jwow-ease: 1.0s cubic-bezier(0, 1, 0.5, 1);
$jwow-ease-out: 1.5s cubic-bezier(0, 0, 0, 1);
$hoppers-gray-light: #f8f9fa;
$hoppers-black: #444; /* Pure black text on white backgrounds can cause eye strain when users read the text over an extended period. */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');

body {
    margin: 0;
    background-color: $hoppers-gray;
}

.card-title {
    font-family: 'Quantico', monospace;
    font-size: 2.5em;
    // text-shadow: 2px 2px rgba($stone, 0.5);
    //combination 1
    // color: $nav-yellow;
    // background: rgba($dark-grey, 0.8);
    // padding: 20px 0;

    //combination 2
    // color: $dark-purple;
    // background: $stone;
    // padding: 20px 0;


    //combination 3
    // color: $stone;
    // background-color: $hoppers-green;
    // padding: 20px 0;

    //personal favourite - a simple text shadow (can change color to $hoppers-gray)
    // color: $nav-yellow;
    // text-shadow: 2px 2px $stone;
    // padding: 10px 0;

    //combination - hoppers green text with grey shadow
    // color: $hoppers-green;
    // text-shadow: 2px 2px $stone;
    // padding: 10px 0;

    //combination - green text with yellow shadow - looks cool
    //color: $hoppers-green;
    //text-shadow: 2px 2px $nav-yellow;
    //padding: 10px 0;

    //combination - pinkish text with green border
    // color: $pinkish;
    // text-shadow: -2px 0 $hoppers-green, 0 2px $hoppers-green, 2px 0 $hoppers-green, 0 -2px $hoppers-green;
    // padding: 10px 0;

    //combination - green text with pinkish border
    //color: $hoppers-green;
    //text-shadow: -1px 0 $pinkish, 0 1px $pinkish, 1px 0 $pinkish, 0 -1px $pinkish;
    //padding: 10px 0;

    margin: -10px -10px;

    &::selection{
        background-color: $dark-grey;
    }
}

.cover {
    font-family: 'Quantico', sans-serif;

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: white;
    z-index: 0;

    text-align: center;
    overflow: hidden;
    // background-image: linear-gradient($powder-blue, $hoppers-gray);
}

.cover-inner{
    width: 80%;
    margin-left: 3vw;
    margin-top: 15vw;
    @media (max-width: 768px){
        margin-top: 0;
    }
}

.cover h1 {
    margin-top: 12vh;
    font-size: 3.5em;
    @media (min-width: 768px){
        font-size: 5em;
    }
}

.cover h4 {
    @media (min-width: 768px){
        font-size: 2em;
    }
}

.cover img {
    width: 50%;
    max-width: 1000px;
    position: relative;
    z-index: 10;

    @media (min-width: 768px) {
      float: left;
      margin-left: -10vw;
    }
}

.cover h1,
.cover h3,
.cover h4 {
    position: relative;
    font-weight: 600;
    color: black;
    z-index: 10;
}

.cover .button{
    position: relative;
    z-index: 10;

    box-shadow: 5px 5px white;
}

/*
Nav menu design - id: cover
*/

#nav-cover {
    margin-top: 1rem;
    background-color: #1F1F1F;
    transition: background 0.5s, color 0.5s;
}

#nav-cover a{
    color: white;
}

table th {
    padding: 1rem 0.5rem 0.5rem;
}

table .time {
    min-width: 70px;
}

.eventName {
    font-weight: bold;
}

.ada{
    font-family: 'Roboto';
}

.eventLink {
    visibility: hidden;
}


.stars{
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 100%;
    animation-name: bigger;
    animation-duration: 25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 4;
}

@keyframes bigger{
    0%{
        transform: scale(1);
        opacity: 0.9;
    }
    80%{
        transform: scale(25);
        opacity: 0.4;
    }
    100%{
        transform: scale(10);
        opacity: 0;
    }
}

/* ANNOUNCEMENTS */

.announcement {
    margin: 0;
    border-radius: .25rem;
    width: 100%;
  
    border: 1px solid #ccc;
  
    color: #fff;
    text-align: center;
    background-color: $hoppers-green;
  }
  
  .announcement img {
    width: 100%;
  }
  
  .announcement h5 {
    padding: 0.5rem 0 0.25rem;
  }
  
  .announcement-description {
    color: #000;
    background-color: #fff;
  
    padding: 0.5rem;
  
    border: 3px solid $hoppers-green;
    border-radius: 0.5rem;
  }
  
  
  /* EVENTS PAGE */
  
  .event-categories {
    padding: 0 0.9rem;
  }
  
  .event-categories .button {
    border-radius: 0;
    margin: 0.1rem 0;
  
    &:hover {
      background-color: $hoppers-gray-light;
      color: $hoppers-green !important;
    }
  }
  
  .event-categories div:first-child a {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    margin-top: 0;
  }
  
  .event-categories div:last-child a {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    margin-bottom: 0;
  }
  
  @media (min-width: 992px){
    .event-categories-wrapper{
      display: none;
    }
  
    .event-cards img {
      height: 20%;
    }
  }
  
  
  /* SPONSORS PAGE */
  
  .sponsors div {
    margin: 0 !important;
    padding: 0;
  }
  
  .sponsors img {
    max-height: 200px;
    max-width: 100%;
    margin: 1.5rem auto;
    display: block;
  }

  body {
    background-color: $hoppers-gray;
  }
  
  card {
    background-color: $hoppers-gray-light;
  }
  
  h1, h3 {
    color: $hoppers-green;
  }
  
  h2, p {
    color: $hoppers-black;
  }
  
  a { 
    color: $hoppers-green;
    font-weight: bold;
  
    &:hover {
        color: $hoppers-green;
    }
  }
  
  .nodecor {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  
  .center-horizentally{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .shadow {
    -webkit-box-shadow: 5px 5px 4px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    5px 5px 4px 2px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         5px 5px 4px 2px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  }
  
  
  /* NAVIGATION BAR */
  
  .navbar-logo {
    margin: -50%;
    z-index: 1;
  
    /* used on small screens */
    &-sm {
      position: absolute;
      right: 20px;
      top: -20px;
      z-index: 1;
    }
  }
  
  .nav-item {
    transition: background $jwow-ease-out;
    &:hover {
      transition: background $jwow-ease;
      background-color: $hoppers-gray;
    }
  }
  
  .nav-link {
    font-weight: normal;
  }
  
  
  /* BUTTONS */
  
  .button {
    color: #ffffff !important;
    text-align: center;
  
    background-color: $hoppers-green;
    padding: .5rem!important;
    border: 1.5px $hoppers-green solid;
    border-radius: 0.25rem;
  
    display: inline-block;
    min-width: 150px;
    width: 100%;
  
    &:hover {
      text-decoration: none;
    };
  }
  
  .clickable {
    transition: transform $jwow-ease-out;
    
    &:hover {
      transition: transform $jwow-ease;
      transform: scale(1.05);
    }
    
    &:active {
      transform: scale(1.07);
    }
  }