---
---

body{
  overflow-x: hidden;
}

.cover {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(/website/assets/img/hoppers-cover.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.cover h4 {
  color: #ffffff;
  margin: 2rem 0 2rem;
}

.cover img {
  width: 40%;
  max-width: 700px;
}

.cover-btn {
  color: #ffffff;
  background-color: rgba(0,0,0,0.6);

  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  letter-spacing: .5px;

  display: inline-block;
  padding: 0 2rem;
  line-height: 2.5rem;

  border: none;
  border-radius: 2px;
}

.cover-btn:hover {
  background-color: rgba(0,0,0,0.3);
  color: #eee;
  text-decoration: none;
}

.event-info .container {
  margin-top: 2rem;
}

#schedule::before, #location::before, #faq::before, #sponsors::before, #contact::before {
  display: block;
  content: " ";
  margin-top: -160px;
  height: 160px;
  visibility: hidden;
  pointer-events: none;
}

#schedule h5 {
  display: inline-block;
  margin-right: 2rem;
  width: 75px;
}

#schedule p {
  display: inline;
}

#schedule td{
  padding: .5rem;
}

#schedule tr td:first-child{
  text-align: right;
  font-weight: 500;
}

#schedule div {
  margin-bottom: 1rem;
}

#location iframe {
  margin: auto;
  display: block;
  width: 90%;
}
