---
---

$jwow-ease: 1.0s cubic-bezier(0, 1, 0.5, 1);
$jwow-ease-out: 1.5s cubic-bezier(0, 0, 0, 1);
$hoppers-green: #3da08c;
$hoppers-gray-light: #f8f9fa;
$hoppers-gray: #eee;
$hoppers-black: #444; /* Pure black text on white backgrounds can cause eye strain when users read the text over an extended period. */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');

/* GENERAL PROPERTIES */

body {
  background-color: $hoppers-gray;
}

card {
  background-color: $hoppers-gray-light;
}

h1, h3 {
  color: $hoppers-green;
}

h2, p {
  color: $hoppers-black;
}

a { 
  color: $hoppers-green;
  font-weight: bold;

  &:hover {
  	color: $hoppers-green;
  }
}

.nodecor {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.center-horizentally{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.shadow {
  -webkit-box-shadow: 5px 5px 4px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    5px 5px 4px 2px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         5px 5px 4px 2px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}


/* NAVIGATION BAR */

.navbar-logo {
  margin: -50%;
  z-index: 1;

  /* used on small screens */
  &-sm {
    position: absolute;
    right: 20px;
    top: -20px;
    z-index: 1;
  }
}

.nav-item {
  transition: background $jwow-ease-out;
  &:hover {
    transition: background $jwow-ease;
    background-color: $hoppers-gray;
  }
}

.nav-link {
  font-weight: normal;
}


/* BUTTONS */

.button {
  color: #ffffff !important;
  text-align: center;

  background-color: $hoppers-green;
  padding: .5rem!important;
  border: 1.5px $hoppers-green solid;
  border-radius: 0.25rem;

  display: inline-block;
  min-width: 150px;
  width: 100%;

  &:hover {
    text-decoration: none;
  };
}

.clickable {
  transition: transform $jwow-ease-out;
  
  &:hover {
    transition: transform $jwow-ease;
    transform: scale(1.05);
  }
  
  &:active {
    transform: scale(1.07);
  }
}


/* ANNOUNCEMENTS */

.announcement {
  margin: 0;
  border-radius: .25rem;
  width: 100%;

  border: 1px solid #ccc;

  color: #fff;
  text-align: center;
  background-color: $hoppers-green;
}

.announcement img {
  width: 100%;
}

.announcement h5 {
  padding: 0.5rem 0 0.25rem;
}

.announcement-description {
  color: #000;
  background-color: #fff;

  padding: 0.5rem;

  border: 3px solid $hoppers-green;
  border-radius: 0.5rem;
}


/* EVENTS PAGE */

.event-categories {
  padding: 0 0.9rem;
}

.event-categories .button {
  border-radius: 0;
  margin: 0.1rem 0;

  &:hover {
    background-color: $hoppers-gray-light;
    color: $hoppers-green !important;
  }
}

.event-categories div:first-child a {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  margin-top: 0;
}

.event-categories div:last-child a {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  margin-bottom: 0;
}

@media (min-width: 992px){
  .event-categories-wrapper{
    display: none;
  }

  .event-cards img {
    height: 20%;
  }
}


/* SPONSORS PAGE */

.sponsors div {
  margin: 0 !important;
  padding: 0;
}

.sponsors img {
  max-height: 200px;
  max-width: 100%;
  margin: 1.5rem auto;
  display: block;
}


/* TEAM PAGE */

.team-member {
  color: $hoppers-green;
}

.team-member-role {
  color: rgba(0,0,0,.5);
}


/* ABOUT US PAGE */

.aboutUsVoices p {
  margin-bottom: 0.7rem;
}
