---
---

$jwow-ease: 1.0s cubic-bezier(0, 1, 0.5, 1);
$jwow-ease-out: 1.5s cubic-bezier(0, 0, 0, 1);
$hoppers-green: #3da08c;
$hoppers-green-light: rgba(61, 160, 140, 0.2);
$hoppers-gray-light: #f3f3f4;

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');

body {
  background-color: #eee;
}

.navbar-logo {
  margin: -50%;
  z-index: 1;
  &-sm {
    position: absolute;
    right: 20px;
    top: -20px;
    z-index: 1;
  }
}

//.nav-container {
//  margin-bottom: 4em;
//}

.clickable {
  // standard effect for larger items
  transition: transform $jwow-ease-out;
  &:hover {
    transition: transform $jwow-ease;
    transform: scale(1.01);
  }
  &:active {
    transform: scale(1.03);
  }
  // larger effect for smaller items
  &-sm {
    &:hover {
      transform: scale(1.05);
    }
    &:active {
      transform: scale(1.07);
    }
  }
}

.nav-item {
  transition: background $jwow-ease-out;
  &:hover {
    transition: background $jwow-ease;
    background-color: #eee;
  }
}

.nodecor {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

h1, h3 {
  color: $hoppers-green;
}

h2, p {
  color: #333;
}

p {
  text-align: left;
}

.subcard {
  background-color: #fdfeff;
}

.card-img-top {
  background-color: $hoppers-gray-light;
}

.card-img-xs {
  flex-shrink: 0;
  width: 150px;
  @media (max-width: 576px) {
    width: 100px;
  }
  &-sq {
    flex-shrink: 0;
    height: 150px;
    width: 150px;
    @media (max-width: 576px) {
      height: 100px;
      width: 100px;
    }
  }
}

.card-img-sm {
  height: 240px;
  @media (max-width: 576px) {
    height: 160px;
  }
}

.card-img-md {
  height: 300px;
  @media (max-width: 576px) {
    height: 200px;
  }
}

.img-center-vert {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-footer {
  &::before {
    content: "";
    display: block;
    position: absolute;
    border: 0;
    left: 0;
    bottom: 47px;
    height: 30px;
    width: 100%;
    background: $hoppers-gray-light;
    background: -webkit-linear-gradient(bottom, rgba(243,243,244,1) 0%, rgba(243,243,244,0.6) 40%, rgba(243,243,244,0) 100%);
    background: -o-linear-gradient(bottom, rgba(243,243,244,1) 0%, rgba(243,243,244,0.6) 40%, rgba(243,243,244,0) 100%);
    background: linear-gradient(to top, rgba(243,243,244,1) 0%, rgba(243,243,244,0.6) 40%, rgba(243,243,244,0) 100%);
  }
  background: $hoppers-gray-light;
}

.text-category {
  color: $hoppers-green;
}

.partner-row {
  margin-bottom: 5rem;
  @media (max-width: 576px) {
    margin-bottom: 2rem;
  }
}

