---
---

$jwow-ease: 1.0s cubic-bezier(0, 1, 0.5, 1);
$jwow-ease-out: 1.5s cubic-bezier(0, 0, 0, 1);
$hoppers-green: #3da08c;
$hoppers-green-light: rgba(61, 160, 140, 0.2);
$hoppers-gray-light: #f3f3f4;

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');

body {
  background-color: #eee;
}

.navbar-logo {
  margin: -50%;
  z-index: 1;
  &-sm {
    position: absolute;
    right: 20px;
    top: -20px;
    z-index: 1;
  }
}

//.nav-container {
//  margin-bottom: 4em;
//}

.clickable {
  // standard effect for larger items
  transition: transform $jwow-ease-out;
  &:hover {
    transition: transform $jwow-ease;
    transform: scale(1.01);
  }
  &:active {
    transform: scale(1.03);
  }
  // larger effect for smaller items
  &-sm {
    &:hover {
      transform: scale(1.05);
    }
    &:active {
      transform: scale(1.07);
    }
  }
}

.nav-item {
  transition: background $jwow-ease-out;
  &:hover {
    transition: background $jwow-ease;
    background-color: #eee;
  }
}

.nodecor {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

h1, h3 {
  color: $hoppers-green;
}

h2, p {
  color: #333;
}

p {
  text-align: left;
}

.subcard {
  background-color: #fdfeff;
}

.card-img-top {
  background-color: $hoppers-gray-light;
}

.card-img-xs {
  flex-shrink: 0;
  width: 150px;
  @media (max-width: 576px) {
    width: 100px;
  }
  &-sq {
    flex-shrink: 0;
    height: 150px;
    width: 150px;
    @media (max-width: 576px) {
      height: 100px;
      width: 100px;
    }
  }
}

.card-img-sm {
  height: 240px;
  @media (max-width: 576px) {
    height: 160px;
  }
}

.card-img-md {
  height: 300px;
  @media (max-width: 576px) {
    height: 200px;
  }
}

.img-center-vert {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-footer {
  &::before {
    content: "";
    display: block;
    position: absolute;
    border: 0;
    left: 0;
    bottom: 47px;
    height: 30px;
    width: 100%;
    background: $hoppers-gray-light;
    background: -webkit-linear-gradient(bottom, rgba(243,243,244,1) 0%, rgba(243,243,244,0.6) 40%, rgba(243,243,244,0) 100%);
    background: -o-linear-gradient(bottom, rgba(243,243,244,1) 0%, rgba(243,243,244,0.6) 40%, rgba(243,243,244,0) 100%);
    background: linear-gradient(to top, rgba(243,243,244,1) 0%, rgba(243,243,244,0.6) 40%, rgba(243,243,244,0) 100%);
  }
  background: $hoppers-gray-light;
}

.text-category {
  color: $hoppers-green;
}

.partner-row {
  margin-bottom: 5rem;
  @media (max-width: 576px) {
    margin-bottom: 2rem;
  }
}

.button {
  color: #ffffff !important;
  text-align: center;

  background-color: $hoppers-green;
  padding: .5rem!important;
  border: 1.5px $hoppers-green solid;
  border-radius: 0.25rem;
  font-weight: bold;

  display: inline-block;
  min-width: 150px;
  width: 100%;
}

.button:hover {
  text-decoration: none;
}

.button-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.event-categories {
  padding: 0 0.9rem;
}

.event-categories .button {
  border-radius: 0;
  margin: 0.1rem 0;
}

.event-categories .button:hover {
  background-color: #f8f9fa;
  color: $hoppers-green !important;
}

.event-categories .button-div {
  padding: 0 0.1rem;
}

.event-categories div:first-child a {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  margin-top: 0;
}

.event-categories div:last-child a {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  margin-bottom: 0;
}

@media (min-width: 992px){
  .event-categories-wrapper{
    display: none;
  }

  .event-categories {
    display: none;
    margin: 0;
  }

  .event-categories .button{
    margin: 0;
  }

  .event-categories div:first-child a {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.25rem;
  }

  .event-categories div:last-child a {
    border-top-right-radius: 0.25rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0.25rem;
  }
}

.center-content{
  justify-content: center;
}

.sponsors div {
  margin: 0 !important;
  padding: 0;
}

.sponsors img {
  max-height: 100px;
  margin: 1.5rem auto;
  display: block;
}

.facebook {
  color: #ffffff;
  text-align: center;

  background-color: #4267b2;
  margin: 0 1rem;
  padding: 1rem;
  border-radius: .25rem;
}

.facebook p {
  color: inherit;
  text-align: inherit;
  margin-bottom: 0.75rem;
}

.facebook h2 {
  color: inherit;
  margin-bottom: 1.5rem;
}

.announcement {
  margin: 0;
  border-radius: .25rem;
  width: 100%;

  border: 1px solid #ccc;

  color: #fff;
  text-align: center;
  background-color: $hoppers-green;
}

.announcement img {
  width: 100%;
}

.announcement h5 {
  padding: 0.5rem 0 0.25rem;
}


@media (min-width:992px){
  .event-cards img {
    height: 20%;
  }
}

.shadow-btn {
  -webkit-box-shadow: 5px 5px 4px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    5px 5px 4px 2px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         5px 5px 4px 2px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
