---
---

<!-- Used bigEvent layout as a template - changed mostly the cover and nav menu -->

<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ald2020.css" type="text/css">
  </head>

  <body id="bigEvent">

    {% include nav-bigEvent.html %}

    <!-- PAGE COVER -->
    <!-- <div class = "container-fluid"> -->
    <section class="cover">
      <div class="cover-inner">
        <div class = "row justify-content-center">
          <img class = "img-fluid" src="{{ '/assets/img/' | append: page.logo | relative_url }}"/>
          <div class = "col-7 justify-content-center align-items-right" id = "header">
            <h1 onclick="window.open('https://en.wikipedia.org/wiki/"da_Lovelace')">{{ page.title }}</h1>
  
            <!-- optional subtitle -->
            {% if page.subtitle %}
              <h3>{{ page.subtitle }}</h3>
            {% endif %}
  
            <h4>{{ page.day }}</h4>
            <div class="row justify-content-center align-items-center">
              <!-- optional facebook -->
              {% if page.facebook %}
                <div class="col-12 col-md-4 col-lg-3 my-2">
                  <a class="button clickable shadow-sm" target="_blank" href="{{ page.facebook }}">Facebook</a>
                </div>
              {% endif %}
  
              <!-- optional book tickets -->
              {% if page.bookTickets %}
              <div class="col-12 col-md-4 col-lg-3 my-2">
                <a class="button clickable shadow-sm" target= "_blank" href="{{ page.bookTickets }}">Book Tickets</a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </section>
  <!-- </div> -->
    <!-- PAGE CONTENT -->
    <main class="event-info">
      <!-- <div class="container-fluid" style = "margin-top: 2em"> -->
        {%- for member in site.data[page.data] -%}
          <div class="card shadow-sm border-0 mb-3">
            <div class="card-body">
              <h3 class="card-title mb-3 text-center">{{ member.title }}</h3>
              <hr class="mb-4">
              {% include {{ member.includeFrom }} %}
            </div>
          </div>
        {%- endfor -%}

      <!-- </div> -->
    </main>

    {% include footer.html %}

  </body>
</html>
