---
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bigEvents.css" type="text/css">

    {% if page.styleSheet %}
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ page.styleSheet }}" type="text/css">
    {% endif %}
  </head>

  <body id="bigEvent">

    {% include nav-bigEvent.html %}

    <!-- PAGE COVER -->
    <section class="cover">
      <div class="cover-inner">
        <img src="{{ '/assets/img/' | append: page.logo | relative_url }}"/>
        <h1>{{ page.title }}</h1>

        <!-- optional subtitle -->
        {% if page.subtitle %}
          <h3>{{ page.subtitle }}</h3>
        {% endif %}

        <h4>{{ page.day }}</h4>

        <div class="row justify-content-center align-items-center">
          <!-- optional facebook -->
          {% if page.facebook %}
            <div class="col-12 col-md-4 col-lg-3 my-2 center-horizentally">
              <a class="button clickable shadow-sm" target="_blank" href="{{ page.facebook }}">Facebook</a>
            </div>
          {% endif %}

          <!-- optional book tickets -->
          {% if page.bookTickets %}
          <div class="col-12 col-md-4 col-lg-3 my-2 center-horizentally">
            <a class="button clickable shadow-sm" target="_blank" href="{{ page.bookTickets }}">Book Tickets</a>
          </div>
          {% endif %}
        </div>
      </div>
    </section>

    <!-- PAGE CONTENT -->
    <main class="event-info">
      <div class="container">

        {%- for member in site.data[page.data] -%}

          <div class="card shadow-sm border-0 mb-3">
            <div class="card-body">
              <h3 class="card-title mb-3 text-center">{{ member.title }}</h3>
              <hr class="mb-4">
              {% include {{ member.includeFrom }} %}
            </div>
          </div>

        {%- endfor -%}

      </div>
    </main>

    {% include footer.html %}

  </body>
  <script>
    var navBar = document.getElementById('nav-cover');
    function isVisible(){
      let currPos = document.getElementsByClassName('cover')[0].getBoundingClientRect();
      let coverBottom = currPos.bottom;
      var isVisible = (coverBottom >= 0);
      return isVisible;
    }
    //FIX ISSUE - WHY IS NAV BAR COLOR NOT CHANGING - THE NAV BAR BORDER CHANGES 
  
    window.onscroll = function(){
       if(isVisible()){
          navBar.style.color = '#000';
          navBar.style.background = '#1F1F1F';
        }
        else{
          navBar.style.border = '0px'
          navBar.style.color = 'black';
          navBar.style.background = 'linear-gradient(to right, #50C9CE, #FDCA40, #DB5461,  #72A1E5)';
        }
      }
     </script>
</html>
