---
---
<!DOCTYPE html>
<html>
  <head>
  {% include head.html %}
  </head>
  <body>

  {% include nav.html %}

  <div class="container">
    <div class="card border-0 mb-3">
      <div class="card-body">
        <h1 class="card-title mb-3 text-center">
            {{ page.title }}
        </h1>

        {% if page.subtitle %}
          <h2 class="card-subtitle text-center mb-3">{{ page.subtitle }}</h2>
        {% endif %}

        <hr class="mb-4">

        {{ content }}
      </div>
    </div>
  </div>

  {% include footer.html %}
  </body>
</html>
