---
---
<!DOCTYPE html>

<!-- picture-as-tile layout
needs: img, img-alt, (title) -->

<html>
  <head>
  {% include head.html %}
  </head>
  <body>

  {% include nav.html %}

  <div class="container">
    <div class="card shadow-sm border-0 mb-3">
      <div class="card-body">
        <img class="mx-auto d-block mb-4 card-img-top" style="max-width: 520px;" src="{{ page.img }}" alt="{{ page.img-alt }}">

        {{ content }}
      </div>
    </div>
  </div>

  {% include footer.html %}
  </body>
</html>
